---
import bg from '../assets/images/Slider.png'
---

<style>
	section {
		background: linear-gradient(
				180deg,
				rgba(139, 152, 134, 1) 0%,
				rgba(165, 166, 160, 0.09) 50%
			),
			url('../assets/images/Slider.png');
		background-size: cover;
		background-position: center;
		height: 70vh;
	}
</style>

<section class="bg-[#f1f2ed] pt-14">
	<div class="container mx-auto max-w-6xl flex flex-col items-center">
		<h1 class="text-4xl text-center text-white font-light max-w-2xl p-4">
			Rent a serene therapy room by the hour and grow your practice on your own
			terms
		</h1>
	</div>
</section>
